<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Fellowship Members Mgt System</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Members Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/members}" >Members Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
	<div class = "container">
		<div class = "row">
			<div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update new member </h1>
				<div class = "card-body">
					<form th:action="@{/felmems/{id} (id=${member.id})}" th:object = "${member}" method="post">
						<div class ="form-group">
				<label> Member's First Name</label>
							<input
								type = "text"
								name = "FirstName"
								th:field = "*{FirstName}"
								class = "form-control"
								placeholder= "Enter Member's first name"
							/>
							</div>
							
							<div class ="form-group">
							<label> Member Last Name</label>
							<input
								type = "text"
								name = "LastName"
								th:field = "*{LastName}"
								class = "form-control"
								placeholder= "Enter Member's last name"
							/>
							</div>
							
							<div class ="form-group">
							<label> Email </label>
							<input
								type = "text"
								name = "Email"
								th:field = "*{Email}"
								class = "form-control"
								placeholder= "Enter Member's email"
							/>
						</div>
						
						<div class ="form-group">
							<label> Fellowship </label>
							<input
								type = "text"
								name = "Fellowship"
								th:field = "*{Fellowship}"
								class = "form-control"
								placeholder= "Enter Member's fellowship"
							/>
						</div>
						
						<div class ="form-group">
							<label> Cell </label>
							<input
								type = "text"
								name = "Cell"
								th:field = "*{Cell}"
								class = "form-control"
								placeholder= "Enter Member's cell"
							/>
						</div>
						
						<div class ="form-group">
							<label> Position </label>
							<input
								type = "text"
								name = "Position"
								th:field = "*{Position}"
								class = "form-control"
								placeholder= "Enter Member's position"
							/>
						</div>
						
						<div class ="form-group">
							<label> Department </label>
							<input
								type = "text"
								name = "Department"
								th:field = "*{Department}"
								class = "form-control"
								placeholder= "Enter Member's department"
							/>
						</div>
						
						<div class ="form-group">
							<label> Rhapsody </label>
							<input
								type = "text"
								name = "Rhapsody"
								th:field = "*{Rhapsody}"
								class = "form-control"
								placeholder= "Enter Member's Rhapsody Seed"
							/>
						</div>
						
						<div class ="form-group">
							<label> Tithe </label>
							<input
								type = "text"
								name = "Tithe"
								th:field = "*{Tithe}"
								class = "form-control"
								placeholder= "Enter Member's tithe"
							/>
						</div>
						
						<div class ="form-group">
							<label> Others </label>
							<input
								type = "text"
								name = "Others"
								th:field = "*{Others}"
								class = "form-control"
								placeholder= "Others"
							/>
						</div>
						
						<div class = "footer-body">
						<button type = "submit" class = "btn btn-primary">
						Submit
						</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>